<!--标题栏-->
<div class="topBar d-ft">
    <mip-history history="go, -1" class="d-fl">
        <span>返回</span>
    </mip-history>
    <a data-type="mip" href="/">
        <mip-img layout="container" src="https://mh1.zhengdongwuye.cn/muban/mip/images/main_logo.png" class="mainlogo"
                 alt="土豪漫画">
        </mip-img>
    </a>
    <span class="d-fr" on="tap:right-sidebar.open">
        <mip-img layout="container" src="https://mh1.zhengdongwuye.cn/muban/mip/images/menu_logo.png"
                 class="menulogo"></mip-img>
    </span>
    <a data-type="mip" class="d-fr menul" href="/{$search_ctrl}">
        <mip-img layout="container" src="https://mh1.zhengdongwuye.cn/muban/mip/images/search_logo.png"
                 class="searchlogo"></mip-img>
    </a>
</div>
