<!DOCTYPE html>
<html mip>
<head>
    <meta charset="UTF-8">
    {block name="seo"}
    {/block}
    <meta name="applicable-device" content="mobile"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="referrer" content="never">

    <!--引入样式文件-->
    <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
    <link rel="stylesheet" type="text/css" href="/template/default3/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/template/default3/static/css/amazeui.min.css">
    <link rel="stylesheet" type="text/css" href="/template/default3/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/template/default3/static/css/mip.css">

    {block name="css"}
    {/block}
    {block name="header_script"}{/block}
    <style mip-custom>
    </style>
</head>

<body class="d-bak-gray">
{block name="content"}
{/block}

<!--底部栏-->
<div class="footer">
    <span>
        亲爱的网友们。土豪漫画网站为个人爱好收集。并不具备版权，朋友们如果喜欢，且有支付能力，请您一定支持正版，我们收集旨在传播优秀的漫画作品。本站也只是试看，提高作者知名度，如果你们不乐意我们的公益行为，请给我们发邮件。我们将尽快删除。土豪旨在把漫画作品平民化普及，提高国人对漫画作品的认知和审美。
    </span>
    <span>
        <a href="https://jinshuju.net/f/lP12Jw" target="_blank" rel="nofollow">版权投诉</a>
        <em>/</em> Copyright © 2016-2018 <em>/</em> mip.tohomh123.com <em>/</em> All Rights Reserved
        <mip-stats-baidu token="c33472fe6b780631483b9d4cb544c686"></mip-stats-baidu>
    </span>
</div>


<mip-fixed type="gototop">
    <mip-gototop threshold='400'></mip-gototop>
</mip-fixed>


<script async src="https://c.mipcdn.com/static/v2/mip.js"></script>
<script async src="https://c.mipcdn.com/static/v2/mip-sidebar/mip-sidebar.js"></script>
<script async src="https://c.mipcdn.com/static/v2/mip-gototop/mip-gototop.js"></script>
<script async src="https://c.mipcdn.com/extensions/platform/v2/mip-cambrian/mip-cambrian.js"></script>
<script async src="https://c.mipcdn.com/static/v2/mip-history/mip-history.js"></script>
<script async src="https://c.mipcdn.com/static/v2/mip-showmore/mip-showmore.js"></script>
<script async src="https://c.mipcdn.com/static/v2/mip-stats-baidu/mip-stats-baidu.js"></script>
<script async src="https://c.mipcdn.com/static/v2/mip-analytics/mip-analytics.js"></script>
{block name="script"}{/block}
{include file="./template/default3/pub/footer.html"}

</body>
</html>