<!--标题栏-->
<div class="topBar d-ft">
    <a href="/" data-type="mip" data-title="首页">
        <mip-img layout="container" src="https://mh1.zhengdongwuye.cn/muban/mip/images/main_logo.png" class="mainlogo"
                 alt="{$site_name}">
        </mip-img>
    </a>
    <span class="d-fr" on="tap:right-sidebar.open">
        <mip-img layout="container" src="https://mh1.zhengdongwuye.cn/muban/mip/images/menu_logo.png"
                 class="menulogo"></mip-img></span>
    <a data-type="mip" class="d-fl" href="/{$search_ctrl}">
        <mip-img layout="container" src="https://mh1.zhengdongwuye.cn/muban/mip/images/search_logo.png"
                 class="searchlogo"></mip-img>
    </a>
</div>