{extend name="pub/base" /}
{block name="title"}
<title>vip码生成</title>
{/block}
{block name="body"}
<div class="Hui-admin-article">
    <div class="Hui-article">
        <article class="clearfix pd-20">
            <form class="form form-horizontal" onsubmit="gen();return false;">
                <div class="row clearfix">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>加密方式：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <label>
                            <input name="salt" class="input-radio" type="radio" value="id_salt"
                                   {$salt=='id_salt'?'checked':''}/>
                            id盐
                        </label>
                        <label>
                            <input name="salt" class="input-radio" type="radio" value="salt"
                                   {$salt=='salt'?'checked':''}/>
                            密码盐
                        </label>
                    </div>
                </div>

                <div class="row clearfix">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>vip码天数：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$vipcode_day}" name="vipcode_day">
                    </div>
                </div>

                <div class="row clearfix">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>vip码生成个数：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$vipcode_num}" name="vipcode_num">
                    </div>
                </div>


                <div class="row clearfix">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                        <a href="/admin/vipcodes/index" class="btn btn-success radius">返回</a>
                    </div>
                </div>
            </form>
        </article>
    </div>
</div>
<script>
    function gen() {
        layer.open({
            type: 1,
            title: false,
            area: ['630px', '360px'],
            content: '<p></p><p style="padding-left:15px;font-weight: 400;color:#999;">生成中，请耐心等待</p>'
        });
        ws = new WebSocket('ws://{$host_ip}:2347?p=vip');
        ws.onmessage = function (e) {
            $('.layui-layer-content').append(e.data);
        }
    }
</script>
{/block}